<h1>4장 변수와 자료형</h1>
<br><h3>4.1 변수</h3>

In [9]:
a = 12340
print(a * 1/2)

6170.0

In [5]:
12340 * 1/4

3085.0

In [4]:
12340 * 1/5

2468.0

<b>데이터를 변수에 할당</b>
<br>변수에 자료를 할당하고, 변수를 불러 값을 출력(반대는 변하지 않는 상수)
<ol>
    <li>변수명은 문자,숫자,밑줄기호를 이용하여 만들 수 있다. EX) a,book1,my_student2,MyDog, _my_number</li>
    <li>숫자로 시작할 수 없다. ex)5징어</li>
    <li>대소문자를 구별함 Money != money</li>
    <li>공백은 불가 world cup (x)</li>
    <li>밑줄 이외의 기호는 불가 (%,  등)</li>
    <li>예약어는 사용 불가 (True,False,and,or 등)</li>  
</ol>

In [10]:
abc = 12340
print(abc)

12340

In [11]:
abc

12340

In [12]:
print(abc * 1/2)
print(abc * 1/4)
print(abc * 1/5)

6170.0
3085.0
2468.0

<h1>4.2 문자열</h1>
큰따옴표 작은따옴표 모두 허용

In [13]:
print("hello world")
print('hello wrold')

hello world
hello wrold

In [28]:
life = "Life is too short"
need = "you need python"
print(life)
print(need)
print(life + need)
print(f"{life},{need}")

total = (f"{life},{need}")
print(total)

Life is too short
you need python
Life is too shortyou need python
Life is too short,you need python
Life is too short,you need python

In [21]:
type(life)
type(need)

str

큰 따옴표 작은 따옴표 출력

In [31]:
string3 = 'this is a "double" quotation test'
string4 = "this is a 'double' quotation test"
print(string3)
print(string4)

this is a "double" quotation test
this is a 'double' quotation test

삼중따옴표 활용

In [52]:
long_string1 = '''[삼중 작은 따옴표 사용함
파이썬에는 삼종따옴표로 여러 행의 문자열을 입력 할 수 있다
큰따옴표 작은따옴표도 입력 할 수 있다]'''
long_string2 = """[삼중 큰 따옴표 사용함
가
나
다
라
마]"""


print(long_string1)
print(long_string2)

#전체 주석처리 컨트롤 슬래쉬

[삼중 작은 따옴표 사용함
파이썬에는 삼종따옴표로 여러 행의 문자열을 입력 할 수 있다
큰따옴표 작은따옴표도 입력 할 수 있다]
[삼중 큰 따옴표 사용함
가
나
다
라
마]

문자열 다루기
<br>문자열 더하기 곱셈

In [51]:
a = 'life is too short'
b = 'you need python'
c = a + b
print(c)

print(f"{a} {b} ")

life is too shortyou need python
life is too short you need python

In [55]:
print(c * 3)
print(f"{c} {a} {b} ")

life is too shortyou need pythonlife is too shortyou need pythonlife is too shortyou need python
life is too shortyou need python life is too short you need python

In [60]:
a = 'enjoy     '
print(a * (3 - 1))

enjoy     enjoy

<h1>4.3 리스트</h1>
<br>리스트 만들기
<br>데이터를 한꺼번에 처리하기 위해 묶어놓으면 편하다

In [75]:
#1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90,95,85,80
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [76]:
import numpy as np
student = np.array([90,95,85,80])
avg = np.mean(student)
print(avg)

87.5

In [77]:
type(student1)

list

In [98]:
student2 = [90,95,85,80]
student2.reverse()
print(student2)
student2.sort()
print(student2)

[80, 85, 95, 90]
[80, 85, 90, 95]

리스트의 타입 및 출력

In [81]:
type(student1)

list

In [104]:
student[0]
student[-1]
student[-2]

85

In [105]:
#student2 = [90,95,85,80]
a = int(input())
if a == 90:
    print("수학 점수")
elif a == 95:
    print("영어 점수")
elif a == 85:
    print("과학 점수")
elif a == 80:
    print("도덕 점수")
else:
    print("다른 점수를 입력해주세요")

30
다른 점수를 입력해주세요

새로운 데이터를 할당

In [110]:
student[1] = 100 # 두번째항목에 세로운 데이터 할당
student[1]
print(student)


N = int(input())
for i in range(1,10):
    print(f"{N} * {i} = {N*i}")

[ 90 100  85  80]
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

데이터 문자열

In [108]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary']
myFriends

['James', 'Robot', 'Lisa', 'Mary']

In [115]:
myFriends[2]
myFriends[3]
myFriends[-1]

'Mary'

다른타입 끼리도 생성가능

In [123]:
mixedList = [0,2,3.14, 'python', 'program', True, myFriends]
mixedList[6][2]

'Lisa'

리스트 다루기
<br>리스트 더하기와 곱하기

In [121]:
a = int(input())
for i in range(1,a+1):
    print("*" * i)

9
*
**
***
****
*****
******
*******
********
*********

In [125]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [127]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [129]:
import numpy as np
a = np.array(list_con1)
avg = np.mean(a)
print(avg)

2.5

리스트 중 일부 항목 가져오기

In [346]:
list_data = [0,1,2,3,4,5,6,7,8,'아리어']
print(list_data)
print(list_data[0:3]) #0,1,2
print(list_data[4:8]) #4,5,6,7
print(list_data[:3]) #0,1,2
print(list_data[7:]) # 7,8,9
print(list_data[::4]) # 0,2,4,6,8
print(list_data[2::2])
print(list_data[1::2])
print(list_data[1:6:2])
print(list_data[2:9:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, '아리어']
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, '아리어']
[0, 4, 8]
[2, 4, 6, 8]
[1, 3, 5, 7, '아리어']
[1, 3, 5]
[2, 4, 6, 8]

In [141]:
a = int(input())
if a % 2 == 0:
    print(f"{a}는 짝수")
elif a % 2 != 0:
    print(f"{a}는 홀수")

17
17는 홀수

In [347]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, '아리어']
[0, 1, 2, 3, 4, 5, 7, 8, '아리어']

리스트에서 항목으 존재 여부 확인하기

<br>bool로 반환

In [166]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1) #in list_data안에 5가 있는가 
print(1.0 in list_data1)
print(2 * 2.5 in list_data1)
print(0 in list_data1)
print("1" in list_data1)
print(int("1") in list_data1)

True
True
True
False
False
True

리스트 메서드 활용하기
<br>자료형.메서드이름() 변수형.메서드이름()

In [168]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thor') #append 리스트 마지막에 추가
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary']
['James', 'Robot', 'Lisa', 'Mary', 'Thor']

In [169]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Thor') #insert 특정 항목에 삽입 
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary']
['James', 'Thor', 'Robot', 'Lisa', 'Mary']

In [170]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])# extend 여러개를 마지막에 추가
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary']
['James', 'Robot', 'Lisa', 'Mary', 'Laura', 'Betty']

In [174]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary']
print(myFriends)
myFriends.remove('James') # remove 첫번째로 일치하는 항목을 리스트에서 제외
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary']
['Robot', 'Lisa', 'Mary']

In [177]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary']
print(myFriends)
popFriends = myFriends.pop()# pop 마지막 항목 제거후 반환 
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary']
['James', 'Robot', 'Lisa']

In [186]:
myFriends = ['Lisa','James', 'Robot', 'Mary']
print(myFriends)
indexFriends = myFriends.index('Lisa') # index Lisa의 순번 0번째 
print(indexFriends)

['Lisa', 'James', 'Robot', 'Mary']
0

In [183]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary', 'Lisa']
print(myFriends)
LisaCount = myFriends.count('Lisa') # count Lisa의 수 2번 2
print(LisaCount)

['James', 'Robot', 'Lisa', 'Mary', 'Lisa']
2

In [190]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary', 'Lisa']
print(myFriends)
myFriends.sort() # sort 정렬 오름차순 내림차순 순서대로 
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary', 'Lisa']
['James', 'Lisa', 'Lisa', 'Mary', 'Robot']

In [189]:
myFriends = ['James', 'Robot', 'Lisa', 'Mary', 'Lisa']
print(myFriends)
myFriends.reverse() # reverse 거꾸로 뒤집기
print(myFriends)

['James', 'Robot', 'Lisa', 'Mary', 'Lisa']
['Lisa', 'Mary', 'Lisa', 'Robot', 'James']

<h1>4.4 튜플</h1>
<br>리스트와 유사하나 항목 변경 불가능
<br>리스트는 [] 튜플 ()

In [196]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [197]:
type(tuple1)

tuple

In [198]:
tuple1[1]

2

소괄호 없이도 생성가능

In [203]:
tuple2 = 5,6,7,8
tuple2

(5, 6, 7, 8)

In [204]:
type(tuple2)

tuple

인자가 1개 밖에 없는 튜플 생성
<br>입력한 후에 콤마, 추가 필요

In [207]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

튜플 다루기
<BR>튜플변경및 삭제 불가

In [209]:
tuple5 = (1,2,3,4) # 한번 생성되면 변경불가 
tuple[1] = 5

TypeError: 'type' object does not support item assignment

In [210]:
del tuple5[1] #한번 생성하면 삭제불가

TypeError: 'tuple' object doesn't support item deletion

In [348]:
tuple6 = ('a', 'b', 'c', 'd','e','f')
tuple6.index('c')

2

In [215]:
tuple7 = ('a','a','a','b','b','c','d',)
tuple7.count('a')

3

세트 만들기 세트는 중괄호 사용 {}

In [226]:
set1 = {1,2,3}
set1a = {1,2,3,3,2} #중복 되는 건 하나만 표시 
print(set1)
print(set1a)
print(type(set1))

{1, 2, 3}
{1, 2, 3}
<class 'set'>

In [227]:
#세트의 교집합 차집합 합집합
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A.intersection(B)# A에 대한 B의 교집합

{4, 5}

In [228]:
A.union(B) #A에 대한 B의 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [222]:
A.difference(B) # 집합 A에대한 집합B의 차집합 A-B

{1, 2, 3}

연산자로 쉽게 하기

In [229]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
A & B #교집합

{4, 5}

In [230]:
A | B #합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [231]:
A - B # 차집합

{1, 2, 3}

리스트,튜플,세트 간 타입 변환

list tuple set은 서로 변환 가능

In [232]:
a = [1,2,3,4,5]
type(a)

list

#튜플로 변환

In [235]:
b = tuple(a)
b

(1, 2, 3, 4, 5)

In [236]:
type(b)

tuple

세트로 변환

In [239]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [240]:
type(c)

set

리스트로 변환

In [241]:
list(b)

[1, 2, 3, 4, 5]

In [242]:
list(c)

[1, 2, 3, 4, 5]

<h1>4.6 딕셔너리</h1>

딕셔너리 만들기

<ol>
<li>중괄호로 표현한다.</li>
<li>키(key)와 값(value) 나누어져 있다</li>
<li>인덱스 대신 키 값을 사용한다</li>
</ol>

In [298]:
country_capital = {"영국":"런던", "프랑스":"파리", "스윙스":"베른", "호주":"멜버른", "덴마크":"코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스윙스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

딕셔너리 타입

In [246]:
type(country_capital)

dict

값 구하기

In [254]:
country_capital["영국"]

'런던'

key 값으로 호출한다

dict_data1 = {1:"버스", 3:"비행기",4:"택시",5:"자전거"}
dict_data1

In [255]:
dict_data1[3] #리스트는 0 1 2 3 순서로 찾아서 뽑았을 것 딕셔너리는 키값이 3인 밸류값을 구함

'비행기'

키와 값이 모두 숫자

In [256]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

키는 문자열 값은 리스트

In [257]:
dict_data3 = {"list_data1":[11,12,13], "list_data2": [21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

다양한 형태를 가지고 있는 딕셔너리

In [265]:
mixed_dict = {1:10, 'dict_num': {1:10, 2:20}, "dict_list_tuple": {"A":[11,12,13], "B":(21,22,23)}, "dict_string": "이것은 책입니다."}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

데이터 추가 변경 삭제

In [296]:
country_capital["독일"]= "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스윙스': '베른', '호주': '캔버라', '독일': '베를린'}

In [294]:
country_capital["호주"]= "캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스윙스': '베른', '호주': '캔버라', '독일': '베를린'}

In [299]:
del country_capital["덴마크"]
country_capital

{'영국': '런던', '프랑스': '파리', '스윙스': '베른', '호주': '멜버른'}

딕셔너리 메서드 활용하기

In [333]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [334]:
print(fruit_code.keys()) # key 키 전체를 리스트 형태로 변환

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [335]:
print(fruit_code.values())# value 밸류 값 전체를 리스트 형태로 변환

dict_values([101, 102, 103, 104, 105])

In [336]:
print(fruit_code.items())# items 키와 값을 키,값 처럼 튜플 형태로 반환

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

리스트로 변환

In [337]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [338]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [339]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

데이터 추가

In [340]:
fruit_code2 = {"오렌지":106, "수박":107}

In [341]:
fruit_code.update(fruit_code2) # update 괄호안에 데이터를 추가함 
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

삭제

In [342]:
fruit_code2.clear() #안에 내용물만 삭제
print(fruit_code2)ㄴ
type(fruit_code2)

{}

dict