<h1>함수 정의와 호출</h1>
<h2>함수의 기본 구조</h2>
def 함수명([인자1,인자2, 인자n]):
<br>    <코드 블록>
    
    [return <반환 값>]

In [4]:
def add(sum1,sum2):
    print(sum1 + sum2)
    return(sum1 + sum2)

In [5]:
add(1,2)

3

3

<h2>인자도 반환 값도 없는 함수</h2>

In [23]:
def my_func():
    print("my first function!")
    print("this is a function")

In [24]:
my_func()

my first function!
this is a function

In [25]:
def life():
    print("life is short")
    print("you need python")

In [26]:
life()

life is short
you need python

In [27]:
print(life())

life is short
you need python
None

<h2>인자는 있으나 반환 값이 없는 함수</h2>

In [29]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [30]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [31]:
def AmericaPresident(PresidentName):
    print("{}는 미국 대통령입니다.".format(PresidentName))

In [32]:
AmericaPresident("트럼프")
AmericaPresident("오바마")
AmericaPresident("조지워싱턴")

트럼프는 미국 대통령입니다.
오바마는 미국 대통령입니다.
조지워싱턴는 미국 대통령입니다.

In [33]:
def KoreanWinner(KoreanWinnerName):
    print("{}는 한국 위인입니다.".format(KoreanWinnerName))

In [34]:
KoreanWinner("이순신")
KoreanWinner("세종대왕")

이순신는 한국 위인입니다.
세종대왕는 한국 위인입니다.

In [35]:
def KoreaSoccerPlayer(KoreaSoccerPlayerName):
    print("{}는 한국 축구선수 입니다.".format(KoreaSoccerPlayerName))

In [37]:
KoreaSoccerPlayer("손흥민")
KoreaSoccerPlayer("박지성")
KoreaSoccerPlayer("윌스미스")

손흥민는 한국 축구선수 입니다.
박지성는 한국 축구선수 입니다.
윌스미스는 한국 축구선수 입니다.

In [38]:
def favorite(food,name):
    print("{}는 {}이 좋아하는 음식입니다.".format(food,name))

In [39]:
favorite("돈까스","배진혁")

돈까스는 배진혁이 좋아하는 음식입니다.

In [40]:
def my_student_info(name, school_ID, phoneNumber):
    print("-------------------------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [56]:
my_student_info("현아","01","010-1234-5678")
my_student_info("진아","02","010-4321-5678")
my_student_info("수아","03","010-2222-3333")
my_student_info("정아","04","010-3333-2222")
my_student_info("좋아","05","010-7777-7777")

-----*-----****----***---------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 010-1234-5678
-----*-----****----***---------
- 학생이름: 진아
- 학급번호: 02
- 전화번호: 010-4321-5678
-----*-----****----***---------
- 학생이름: 수아
- 학급번호: 03
- 전화번호: 010-2222-3333
-----*-----****----***---------
- 학생이름: 정아
- 학급번호: 04
- 전화번호: 010-3333-2222
-----*-----****----***---------
- 학생이름: 좋아
- 학급번호: 05
- 전화번호: 010-7777-7777

In [53]:
def maths(FirstNum,SecoundNum,LastNum):
    print("{} 곱하기 {} 는 {}입니다.".format(FirstNum,SecoundNum,LastNum))

In [54]:
maths(1,2,2)
maths(2,5,10)
maths(9,9,81)

1 곱하기 2 는 2입니다.
2 곱하기 5 는 10입니다.
9 곱하기 9 는 81입니다.

In [55]:
#함수를 수정하면 모든 코드에 적용
def my_student_info(name, school_ID, phoneNumber):
    print("-----*-----****----***---------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

<h1>인자도 있고 반환 값도 있는 함수</h1>

In [57]:
def my_calc(x,y):
    z = x*y
    return z

In [58]:
my_calc(3,4)

12

In [67]:
def my_str(a,b):
    c= a + b
    return c

In [68]:
my_str("안녕","하세요")
my_str("반갑","습니다")
my_str("어서오세요","이제가세요")

'어서오세요이제가세요'

<h3>리스트를 인자로 갖는 함수</h3>

In [80]:
def my_student_info_list(student_info):
    print("**************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("**************")

In [82]:
student1_info = ["현아", "01", "01-234-5678"]
my_student_info_list(student1_info)
my_student_info_list(["현아", "01", "01-234-5678"])

**************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-234-5678
**************
**************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-234-5678
**************

In [74]:
def president_info_list(president_info):
    print("나라:", president_info[0])
    print("이름:", president_info[1])
    print("전화번호:", president_info[2])

In [83]:
president_info = ["미국","트럼프","010-1234-5678"]
president_info = ["프랑스","마크롱","010-2222-3333"]
president_info_list(president_info)
president_info_list(["미국","트럼프","010-1234-5678"])

나라: 프랑스
이름: 마크롱
전화번호: 010-2222-3333
나라: 미국
이름: 트럼프
전화번호: 010-1234-5678

<h1>7.2 변수의 유효 범위</h1>
<h2>전역 변수와 지역 변수의 차이</h2>
<h2>함수 안에서 정의한 변수는 함수 안에서만 사용할 수 있다.</h2>

In [158]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수, func1()에서만 사용
    print("[func1] 지역 변수 a =", a)
    
def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[funce2] 지역 변수 a =", a)
    
def func3():
    print("[funce3] 전역 변수 a =", a)    
    
def func4():
    global a #함수 내에서 전역 변수 변경 위해 선언
    a = 4 # 위에 global a로 전역 변수 선언 했기 때문에 지역함수 변경이 아닌 전역 변수의 값 변경
    print("[func4] 전역 변수 a =", a)

In [160]:
func1()
print("[func1] 지역 변수 a =", a)
func2()
print("[func2] 지역 변수 a =", a)
func3()
print("[func3] 전역 변수 a =", a)    
func4()
print("[func4] 전역 변수 a =", a)

[func1] 지역 변수 a = 1
[func1] 지역 변수 a = 4
[funce2] 지역 변수 a = 2
[func2] 지역 변수 a = 4
[funce3] 전역 변수 a = 4
[func3] 전역 변수 a = 4
[func4] 전역 변수 a = 4
[func4] 전역 변수 a = 4

In [161]:
func1()

[func1] 지역 변수 a = 1

In [162]:
func2()

[funce2] 지역 변수 a = 2

In [163]:
func3() #처음엔 맨위 지정한 a =5가 뜨다가 아래에서 global a 선언하고 a=4로 변경 했기 때문에 4가 됨

[funce3] 전역 변수 a = 4

In [164]:
func4()
print("[func4] 전역 변수 a =", a)

[func4] 전역 변수 a = 4
[func4] 전역 변수 a = 4

In [ ]:
price = 1000
num = 4
def fishbread_first():
    print("붕어빵 {}원에 {}개만큼 드립니다.".format(price,num))

def fishbread_second():
    num = 3
    print("물가 상승으로 붕어빵 {}원에 {}개만큼 드립니다.".format(price,num))
    
def fishbread_end():
    global price
    global num
    price = 100
    num = 10
    print("장사 접습니다 붕어빵 {}원에 {}개 만큼 드립니다.".format(price,num))

In [170]:
fishbread_first()

붕어빵 1000원에 4개만큼 드립니다.

In [171]:
fishbread_second()

물가 상승으로 붕어빵 1000원에 3개만큼 드립니다.

In [172]:
fishbread_end()

장사 접습니다 붕어빵 100원에 10개 만큼 드립니다.

In [173]:
print(num)

10

<h1>7.3 람다(lamda) 함수</h3>
<h3>한줄로 함수를 표혐하는 람다함수의 기본 구조</h3>
<h3>(lambda <인자>:<인자 활용 수행 코드>)(<인자>)</h3>

In [176]:
(lambda x : x**2) (4)
(lambda a : a*10) (2)

20

<h3>람다 함수를 변수에 할당한 후에 인자를 호출해서 사용</h3>

In [178]:
mySquare = lambda x : x**2
mySquare(2)

4

In [179]:
mySquare(6)

36

In [187]:
dollar = lambda a : a * 1400
dollar(1000)

1400000

<h3>여러개의 인자를 받아 사용하는 것도 가능</h3>

In [190]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,4)
mySimpleFunc(3,5,10)

31

<h1>유용한 내장 함수</h1>

In [191]:
[int(0.123), int(3.512345), int(-1.312367)] #소수점 이하는 버림

[0, 3, -1]

In [192]:
[int('1234'), int('5678'), int('9012')] #문자열을 정수로 변환

[1234, 5678, 9012]

In [193]:
[float(0),float(123),float(-567)]

[0.0, 123.0, -567.0]

In [195]:
[float('10'), float('0.123'), float('-567.89')] #문자열을 실수로 변환

[10.0, 0.123, -567.89]

In [196]:
[str(123), str(459678), str(-987)]

['123', '459678', '-987']

In [197]:
[str(0.123), str(345.678), str(-5.87)]

['0.123', '345.678', '-5.87']

In [208]:
list_data = ['abc', 1, 2, 'def']
tuple_data =('abc', 1, 2, 'def')
set_data ={'abc', 1, 2, 'def'}
#세트는 중복된 건 무시함 
#세트는 순서가 정해져 있음 무작위

In [209]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [210]:
print("리스트로 변환:", list(tuple_data), list(set_data)) #리스트로 변환

리스트로 변환: ['abc', 1, 2, 'def'] [1, 2, 'def', 'abc']

In [211]:
print("투플 변환:", tuple(list_data), tuple(set_data)) #리스트로 변환

투플 변환: ('abc', 1, 2, 'def') (1, 2, 'def', 'abc')

In [212]:
print("세트 변환:", set(list_data), set(tuple_data)) #리스트로 변환

세트 변환: {1, 2, 'def', 'abc'} {1, 2, 'def', 'abc'}

In [213]:
#bool 함수
bool(0)

False

In [214]:
bool(1)

True

In [215]:
bool(-10)

True

In [216]:
bool(5.12)

True

In [217]:
bool(-3.26)

True

In [220]:
bool('a')

True

In [221]:
bool(' ')

True

In [222]:
bool('')

False

In [223]:
bool(None)

False

In [225]:
bool()

False

In [226]:
#리스트 튜플 세트를 인자로 bool 함수 호출

In [227]:
def print_name(name):
    if bool(name):
        print("입력된 이름", name)
    else:
        print("입력된 이름이 없습니다.")

In [232]:
print_name("김치")

입력된 이름 김치

In [233]:
print_name("")

입력된 이름이 없습니다.

### 최소값과 최대값을 구하는 함수

In [239]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)] #최소값 0 최대값 99.5

[0, 99.5]

In [240]:
myStr = 'zxyabc'
[min(myStr), max(myStr)] #알파벳 최소 a 최대 z

['a', 'z']

In [241]:
#튜플과 세트에서 활용
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum),max(myNum)]

[0, 99.5]

In [242]:
myNum = {"Abc","abc","bcd","efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절대값과 전체 합을 구하는 함수

In [243]:
[abs(10), abs(-10)]

[10, 10]

In [244]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [245]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

# 항목의 개수를 구하는 함수

In [246]:
len("ab cd")

5

In [247]:
len([1,2,3,4,5,6,7,8]) # 리스트 개수 세기

8

In [248]:
len((1,2,3,4,5))

5

In [249]:
len({1,2,3,4,5})

5

In [250]:
len({1:"thomas", 2:"edwoard",3:"henry"})

3

# 내장 함수의 활용

In [254]:
#사용하지 않은 경우 
scores = [90, 80, 95, 85] #과목별 시험 점수

score_sum = 0    #총점 계산을 위한 초기값 설정
subject_num = 0 #과목수 계산을 위한 초기값 설정
for score in scores: 
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산 
    
average = score_sum / subject_num # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [255]:
#사용했을 경우
scores = [90,80,95,85]
print("총점:{0},평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350,평균:87.5

In [257]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95

# 7.5 정리