<h1>6.1 화면 출력</h1>

In [1]:
print("hello python")

hello python

In [2]:
print("best","python","book") #문자열 여러개를 연결하여 출력(자동으로 공백 발생)

best python book

In [3]:
print("best","python","book", sep= "|") #sep 활용(공백 대신 다른 문자열)

best|python|book

In [4]:
print("abcd" + "efg")#빈칸 없이 문자를 연결할때 + 사용

abcdefg

In [7]:
print("best", "python", "book" +":"  "this book")

best python book:this book

In [8]:
x = 10
print(x) #변수에 저장된 내용을 출력 할 때

10

In [9]:
name = "james"
ID_num = 789
print("Name:", name + ",", "ID Number:, ID_num")
#문자열과 숫자를 함께 출력

Name: james, ID Number:, ID_num

In [10]:
#여러줄로 출력하기 (개행문자 \n)

print("james is my friend.\nhe is korean")

james is my friend.
he is korean

In [11]:
#줄바꿈
print("james is my friend.\n\nhe is korean")

james is my friend.

he is korean

In [14]:
#줄을 바꾸지 않고 출력
print("welcome to")
print("python")

welcome to
python

In [19]:
#두줄로 출력된 결과를 한줄로 출력하기 end
print("welcome to", end="")
print("python")

welcome topython

<h2>형식 지정 출력</h2>
<h2>나머지 연산자 %를 이용한 형식 및 위치 지정 </h2>
<h2>나머지 연산자를 이용한 데이터의 출력형식과 위치를 지정하는 기본구조</h2>

In [34]:
name = "광재"
print("%s는 나의 친구입니다." % name) # %s 는 문자열

광재는 나의 친구입니다.

In [39]:
r = 3
pi = 3.141592
print("반지름: %d 원주율: %f" %(r,pi)) # %d는 정수 %f는 실수 float

반지름: 3 원주율: 3.141592

<h2>형식 지정 문자열에서 출력 위치 지정</h2>

string.format을 이용하는 형식지정 문자열의 기본 구조
<br>print("{},{}"),format(,)

In [48]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("Animal: {0}".format(animal_0))
print("Animal: {0}".format(animal_1))
print("Animal: {0},{1},{2}".format(animal_0,animal_1,animal_2))
print(f"{animal_0},{animal_1},{animal_2}")

Animal: cat
Animal: dog
Animal: cat,dog,fox
cat,dog,fox

<h2>출력 위치 변경</h2>

In [54]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"
print("animal:{1},{2},{0}".format(animal_0,animal_1,animal_2))

animal:dog,fox,cat

In [56]:
print("animal:{2},{0}".format(animal_0,animal_1,animal_2))

animal:fox,cat

In [55]:
print("animal:{},{},{}".format(animal_0,animal_1,animal_2))

animal:cat,dog,fox

<h3>정수나 실수도 출력가능</h3>
<h3>문자열을 변수에 대입한 후 변수를 불러서 출력 실수의 경우 17자리까지 표현되며 반올림 되어 출력된다.</h3>

In [58]:
name = 'tomas'
age = 10
a = 0.12345678910

fmt_string = "string:{0}, linteger Number: {1}, floating number: {2}"
print(fmt_string.format(name,age,a))

string:tomas, linteger Number: 10, floating number: 0.1234567891

<h3>형식 지정 문자열에서 숫자출력 형식 지정</h3>
<h3>데이터가 숫자일 경우 {N:'출력형식'을 지정하여 다양한 형태로 출력이 가능}</h3>

In [59]:
a = 0.12345678910
print("{0:.2f}, {0:.5f},".format(a))

0.12, 0.12346,

<h1>키보드 입력</h1>
<h3>data = input("문자열")</h3>

In [62]:
yourname = input("당신의 이름은?")
print("당신은 {}이군요".format(yourname))

당신의 이름은?배진혁
당신은 배진혁이군요

In [63]:
num = input("숫자를 입력하세요:")
print("당신이 입력한 숫자는{} 입니다.".format(num))

숫자를 입력하세요:1
당신이 입력한 숫자는1 입니다.

In [66]:
#숫자를 연산에 이용하기 위해서는 변환해야 함
a = int(input("정사각형 한변의 길이는?: "))
area = a**2
print("정사각형의 넓이는{} 입니다.".format(area))

정사각형 한변의 길이는?: 5
정사각형의 넓이는25 입니다.

In [67]:
#실수의 경우 정수인지 실수인지 모를 땐 실수로 처리하는 것이 좋음

b = float(input("정사각형 한변의 길이는?: "))
area = b**2
print("정사각형의 넓이는{}입니다.".format(area))

정사각형 한변의 길이는?: 2
정사각형의 넓이는4.0입니다.

<h1>6.3파일 읽고 쓰기</h1>
<h3>출력결과를 화면이 아니라 파일로 출력하거나 읽어야 할 경우</h3>

<h2>파일 열기</h2>
<h3>내장 함수인 open()ㅇㄹ 이용해 파일을 열어야 한다.</h3>
<h3>f= open('file_name', 'mode')</h3>
<h3>file_name=열고자하는 파일</h3>
<h3>mode = 파일속성</h3>

In [68]:
# r = 읽기 모드로 파일열기(기본)
# w = 쓰기 모드로 파일열기. 같은 이름의 파일이 있으면 기존 내용은 모두 삭제 됨
# x = 쓰기 모드로 파일열기. 같은 이름의 파일이 있으면 오류 발생
# a = 추가 모드로 파일열기 같은 이름의 파일이 있는 경우 w와 같음
# b = 바이너리 모드로 파일 열기
# t = 텍스트 파일 모드로 파일 열기(기본) 지정하지 않으면 기본적으로 텍스트 모드로 지정됨

'r = 읽기 모드로 파일열기(기본)\nw = 쓰기 모드로 파일열기. 같은 이름의 파일이 있으면 기존 내용은 모두 삭제 됨\nx = 쓰기 모드로 파일열기. 같은 이름의 파일이 있으면 오류 발생\na ='

In [69]:
cd C:\myPyCode

C:\myPyCode

In [70]:
#파일을 쓰기 모드로 열고 문자열 입력후 파일 닫기 코드
f = open('myFile.txt', 'w') #myfile.txt를 파일 쓰기 모드로 염
f.write('this is my first file') #연 파일에 문자열 쓰기 write
f.close() #파일 닫기

In [71]:
#파일 이름을 이용하여 내용 확인하기
!type myfile.txt

this is my first file

In [72]:
cd C:\myPyCode

C:\myPyCode

In [73]:
f = open('hellopython.txt', 'w')
f.write('life is short you need python')
f.close()

In [74]:
!type hellopython.txt

life is short you need python

In [75]:
f = open('myfile.txt', 'r') #myfile.txt 파일 읽기 모드로 열기
file_text = f.read() #파일 내용 읽은 후에 변수에 저장
f.close() # 파일 닫기

print(file_text) # 변수에 저장된 내용 출력

this is my first file

In [76]:
f = open('hellopython.txt','r')
file = f.read()
f.close()
print(file)

life is short you need python

<h1>6.4 반복문을 이용해 파일 읽고 쓰기</h1>

<h2>파일에 문자열 한 줄씩 쓰기</h2>

In [79]:
f = open('two_times_table.txt','w') #파일을 쓰기 모드로 열기
for num in range(1,6): #for문 num이 1~5까지 반복
    format_string = "2 * {0} = {1}\n".format(num,2*num) #저장할 문자열 생성
    f.write(format_string) #파일에 문자열 저장
f.close()    #파일 닫기

In [80]:
!type two_times_table.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [84]:
f = open('hello.txt','w')
for num in range(1,10):
    nine_string = "2 * {0} = {1}\n".format(num,2*num)
    f.write(nine_string)
f.close()

In [85]:
!type hello.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [105]:
f = open("two_times_table.txt") #파일을 읽기모드로 열기
line1 = f.readline() #한 줄씩 문자열을 읽기
line2 = f.readline()
f.close() #파일 닫기
print(line1, end="") # 한 줄씩 문자열 출력(줄 바꿈 안 함)
print(line2, end="")

2 * 1 = 2
2 * 2 = 4

In [106]:
#readline 한줄
f = open("two_times_table.txt") #파일을 읽기 모드로 열기
line = f.readline() #문자열 한 줄 읽기
while line: #line이 공백인지 검사해서 반복 여부 결정 line 값이 있으면 무한 반복
    print(line, end = "") #문자열 한줄 출력(줄 바꿈 안 함)
    line = f.readline() #문자열 한줄 읽기
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [107]:
#readlines() 여러줄
f = open("two_times_table.txt") #파일을 읽기 모드로 열기
lines = f.readlines() #파일 전체 읽기(리스트로 반환)
f.close() # 파일 닫기

print(lines) #리스트 변수 내용 출력

['2 * 1 = 2\n', '2 * 2 = 4\n', '2 * 3 = 6\n', '2 * 4 = 8\n', '2 * 5 = 10\n']

In [108]:
#for문을 이용하여 전체 읽기 

f = open("two_times_table.txt") # 파일을 읽기 모드로 열기
lines = f.readlines() #파일 전체 일기(리스트로 반환)
f.close() #파일 닫기
for line in lines: #리스트를 <반복 범위>로 지정 
    print(line, end="") #리스트 항목을 출력(줄 바꿈 안 함)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [109]:
f = open("two_times_table.txt") # 파일을 읽기모드로 열기
for line in f.readlines(): #파일 전체를 읽고 리스트 항목을 line에 할당
        print(line, end="")
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

<h1>6.5 with 문 </h1>

In [110]:
with open('c:/myPyCode/myTextFile2.txt', 'w')as f:
    f.write("hello")
    f.write("im")
    f.write("python")

In [111]:
with open('c:/myPyCode/myTextFile2.txt', 'r')as f:
    file_string = f.read()
    print(file_string)

helloimpython

In [112]:
!type myTextFile2.txt

helloimpython

In [113]:
with open('c:/myPyCode/myTextFile2.txt', 'w')as f:#파일을 쓰기 모드로 ㅕㄹ기
    for num in range(1,6): #for문에서 num이 1~5까지 반복
        format_string = "3 x {0} = {1}\n".format(num,3*num) #문자열 생성
        f.write(format_string) #파일에 문자열 쓰기

In [114]:
with open('c:/myPyCode/myTextFile2.txt', 'r')as f: #파일을 읽기모드로 열기
    for line in f: #파일 전체를 읽고 리스트 항목을 line에 할당
        print(line, end="")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15